[Unit]
Description=Plex to InfluxDB
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/khalid/tautulli-influxdb-export/plex_statistic_exporter.py
Restart=on-failure
RestartSec=15s
TimeoutSec=15s

[Install]
WantedBy=multi-user.target
